<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-body">
      <h4 class="text-migrade">Editar Sección</h4>
      <form
        [formGroup]="seccionForm"
        (submit)="submitForm()"
        class="row g-3 needs-validation"
        novalidate
      >
        <div class="col-md-6">
          <label for="seccion" class="form-label">Sección</label>
          <input id="seccion" formControlName="seccion" class="form-control" readonly />
        </div>
        <div class="col-md-6">
          <label for="profesor" class="form-label">Profesor Guía</label>
          <ng-select
            [items]="profesores"
            bindLabel="nombre"
            bindValue="identification"
            formControlName="profesor"
            id="profesor"
            placeholder="Seleccione un profesor"
            notFoundText="No se encontraron profesores"
            required
            [ngClass]="{
              'is-invalid':
                seccionForm.controls['profesor'].invalid &&
                seccionForm.controls['profesor'].touched,
            }"
          >
          </ng-select>
          <div class="invalid-feedback">Por favor, seleccione un profesor.</div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button type="submit" class="btn btn-sm btn-migrade mt-3">
            <i class="pi pi-plus" style="font-size: 0.7rem"></i> Actualizar Sección
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
