<div class="container-fluid my-4">
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <h5 class="text-migrade">Padres</h5>
      <div class="d-flex gap-2">
        <button
          pButton
          type="button"
          label="Agregar Administrador"
          class="btn btn-sm btn-migrade"
        >
          <i class="pi pi-plus" style="font-size: 0.7rem"></i>
          Crear Padre
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="padres.length > 0" class="card">
        <p-table
          #dt
          [value]="padres"
          [rows]="10"
          stripedRows
          [rowsPerPageOptions]="[10, 15, 30, 50, 100, 150, 200]"
          [loading]="loading"
          [paginator]="true"
          [globalFilterFields]="['identification', 'nombre', 'email']"
          class="custom-table"
          dataKey="identification"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end">
              <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon styleClass="pi pi-search" />
                <input
                  pInputText
                  type="text"
                  size="small"
                  class="input-sm"
                  (input)="applyFilterGlobal($event)"
                  placeholder="Buscar..."
                />
              </p-iconfield>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
              <th pSortableColumn="identification">
                Cédula <i class="pi pi-sort-alt" style="font-size: 0.6rem"></i>
              </th>
              <th pSortableColumn="nombre">
                Nombre <i class="pi pi-sort-alt" style="font-size: 0.6rem"></i>
              </th>
              <th pSortableColumn="telefono">
                Teléfono
                <i class="pi pi-sort-alt" style="font-size: 0.6rem"></i>
              </th>
              <th pSortableColumn="email">
                Email <i class="pi pi-sort-alt" style="font-size: 0.6rem"></i>
              </th>
              <th>Opciones</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-tableCheckbox [value]="item" />
              </td>
              <td>{{ item.identification }}</td>
              <td>
                <div class="flex items-center gap-2">
                  <img [alt]="item.nombre" [lazyLoad]="'https://robohash.org/' + item.email + '?set=set5&size=32x32'" width="32" style="vertical-align: middle" />
                  <span>{{ item.nombre }}</span>
                </div>
              </td>
              <td>{{ item.informacion_contacto }}</td>
              <td>{{ item.email }}</td>
              <td>
                <a class="btn btn-sm border-0 rounded-circle">
                  <i class="pi pi-pencil"></i>
                </a>
                <a class="btn btn-sm border-0 rounded-circle">
                  <i class="pi pi-trash"></i>
                </a>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No se encontraron padres.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
