<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <!-- Recorre las secciones del menú -->
            @for (seccion of menu; track $index) {
            <!-- Encabezado de la sección -->
            <div class="sb-sidenav-menu-heading text-dark">
                {{ seccion.menu_json.seccion }}
            </div>

            <!-- Recorre las categorías de cada sección -->
            @for (categoria of seccion.menu_json.categorias; track $index) {
            <ng-container>
                <!-- Si no hay subcategorías, mostrar enlace simple -->
                @if (!categoria.subcategorias) {
                <a class="nav-link fw-semibold" [routerLink]="[categoria.url]">
                    <div class="sb-nav-link-icon">
                        <i class="bi {{ categoria.iconos }}"></i>
                    </div>
                    {{ categoria.categoria }}
                </a>
                }

                <!-- Si hay subcategorías, mostrar menú desplegable -->
                @if (categoria.subcategorias) {
                <a class="nav-link fw-semibold collapsed" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + categoria.categoria" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="bi {{ categoria.iconos }}"></i>
                    </div>
                    {{ categoria.categoria }}
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="bi bi-chevron-down"></i>
                    </div>
                </a>
                }
                <div class="collapse" [id]="'collapse-' + categoria.categoria" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <!-- Recorre las subcategorías -->
                        @for (sub of categoria.subcategorias; track $index) {
                        <a class="nav-link" [routerLink]="[sub.url]">{{ sub.sub_categoria }}</a>
                        }
                    </nav>
                </div>
            </ng-container>
            } }
        </div>
    </div>
    <div class="sb-sidenav-footer bg-migrade text-white d-flex flex-column align-items-start justify-content-center p-3">
        <div class="d-flex align-items-center">
            <div class="avatar rounded-circle bg-white text-migrade fw-bold d-flex align-items-center justify-content-center me-2"  style="width: 40px; height: 40px">
                {{ inicialesUsuario }}
            </div>
            <div>
                <div class="fw-bold">{{ usuario.name }}</div>
                <span style="color: #dfdfdf">{{ usuario.identification }}</span>
            </div>
        </div>
    </div>
</nav>
